<head>
      <link rel="stylesheet" href="/css/login.css" />

</head>


<div class="form">
<form action="/login_user" method="POST">
 
    <h1>Sign in</h1>
    <hr>

    <label for="username"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="username" id="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="psw" required>


    <button type="submit" class="Login">Login</button>
      <hr>
    <p>Don't have an account? <a href="/register">Register</a>.</p>
 


</form>
</div>