<head>
      <link rel="stylesheet" href="/css/register.css" />

</head>
{{#if username}}
<div class="form">
<form action="/Register_user" method="POST">
 
    <h1>Register</h1>
    <p>Please fill in this form to create an account for new user.</p>
    <hr>
    {{#if email}}
    <p>There is an account with the email <a href="/login">Sign in</a></p>
     
    <p>Or create account with different email</p>
    <hr>
    {{/if}}
    
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email" required>

      <label for="username"><b>Username</b></label>
    <input type="username" placeholder="Enter Username" name="username" id="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw_repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw_repeat" id="psw_repeat" onkeyup=check() required>
    <span id='message'></span>
    <hr>
    
    <button type="submit" class="registerbtn" id="submit">Register</button>

    <p>Already have an account? <a href="/login">Sign in</a>.</p>
 


</form>
</div>
{{else}}
<h1 style="color: aliceblue;">You aren't authorized for adding new user<br>if you are admin <a href="/login" style="text-decoration: none;color: inherit; ">Sign in</a> </h1>
{{/if}}


<script>

    var check = function() {
  if (document.getElementById('psw').value ==
    document.getElementById('psw_repeat').value) {
    document.getElementById('psw').style.borderColor ='green'
    document.getElementById('psw_repeat').style.borderColor ='green'
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
    document.getElementById('submit').disabled = false;
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('psw').style.borderColor ='red'
    document.getElementById('psw_repeat').style.borderColor ='red'
    document.getElementById('message').innerHTML = 'not matching';
    document.getElementById('submit').disabled = true;
  }
}
</script>